<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="21411AndreasHammar.Ekot" Publisher="CN=FA18167A-309D-4036-BC20-56EAF537BC91" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Ekot</DisplayName>
    <PublisherDisplayName>Andreas Hammar</PublisherDisplayName>
    <Logo>Assets\sr-tile-50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Kramer.App">
      <VisualElements DisplayName="Ekot" Logo="Assets\sr-tile-150.png" SmallLogo="Assets\sr-tile-30.png" Description="Lyssna på Ekot." ForegroundText="light" BackgroundColor="#004964">
        <DefaultTile ShowName="noLogos" />
        <SplashScreen Image="Assets/logo-full-ekot-620.png" BackgroundColor="#004964" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
          <Rotation Preference="landscape" />
          <Rotation Preference="portraitFlipped" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" StartPage="GroupedItemsPage.xaml">
          <BackgroundTasks>
            <Task Type="audio" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>